body {
    font-family: sans-serif;
    margin: 0;
    background-color: #EDF0F4;
    box-sizing: border-box; 
}

#recBox {
    display: flex;
    justify-content: flex-start;  
    align-items: center;  
    background-color: #FFFFFF;
    width: 98.76%;
    height: 40px; 
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    flex-wrap: nowrap;
}

#meetinglogo {
    width: 120px;          
    height: auto;         
    margin-right: 10px;   
}   



.data-container{
    width: 90%;
    height: 75vh;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 110px;
  }